html{
	box-sizing: border-box;
}

*, 
*: before, 
*: after{
	box-sizing: inherent;
}

.site container{
	max-width: 1200px; 
}

.visuallyhidden{
	border:0;
	clip:rect(0 0 0 0);
	height: 1px;
	margin: -1px; 
	overflow: hidden;
	padding: 0; 
	position: absolute;
	width: 1px; 
}

#container{
	max-width: 1200px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

/*header*/
#header{
	background-color: #3d68d0;
	width: 100%;
}

#logo{
	margin-left: 10px;
	max-width: 100%;
	height: auto;
}

@media (min-width: 392px){
	#navigation{
		display: block;
	}
}

#navigation{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	padding: 0;
	text-align: center; 
}

#navigation ul{
	margin: 0;
	list-style: none;
}

#navigation li{
	float: left;
}

#navigation a{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	color: #a50102;
	font-weight: bold;
}

#navigation a:hover, .current_page a{
	color: #d8b405;
}

/*content*/
#main{
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#content{
	width: 100%
	height: auto;
}

h1{
	margin-top: 65px;
	font-size: 2em;
}

h2{
	text-shadow: 2px 2px 3px ##204fc1;
}

#button{
	padding-left: 40px;
	clear: both;
}

#button a:hover{
	color: #3d68d0; 
}

#colors{
	width: 210px;
}

/*sidebar*/
@media (min-width: 404px){
	#sidebar{
		width: 88%;
	}
}

#sidebar{
	margin: auto;
	width: 85%;
	background-color: #ddd0b5;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px; 
}

#image1{
	text-align: center;
	padding-top: 20px;
	max-width: 100%; 
	height: auto;
}

#image2{
	text-align: center;
	padding-bottom: 20px;
	max-width: 100%;
	height: auto;
}

footer{
	text-align: center;
	color: #204fc1;
}