#container{
	max-width: 1200px;
	margin: auto;
}

/*header*/
#header{
	background-color: #204fc1;
	width: 100%;
}

#logo{
	margin-left: 10px;
}

#navigation{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	padding: 0;
}

#navigation ul{
	margin: 0;
	list-style: none;
}

#navigation li{
	float: left;
}

#navigation a{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	color: #a50102;
	font-weight: bold;
}

#navigation a:hover, .current_page a{
	color: #d8b405;
}

/*content*/
#main{
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#content{
	width: 100%
	height: auto;
}

h1{
	margin-top: 65px;
	font-size: 2em;
}

#button{
	width: 150px;
	padding-left: 40px;
}

#colors{
	width: 210px;
}

/*sidebar*/
#sidebar{
	margin: auto;
	width: 40%;
	background-color: #ddd0b5;
	padding: 10px 10px 10px 10px;
}